<%- include('head.ejs', {cssFile: 'create-post.css'}) %>
<body>
    <%- include('header.ejs') %>
    <main>
        <div class="main-div">
            <h1 class="title">Create your own post</h1>
            <img src="/img/undraw_blog-post_f68f.svg" alt="add post" class="add-post-img">
        </div>
        <form action="/save-post" method="POST" class="form">
            <label for="title">Title</label>
            <input class="post-title" type="text" name="title" placeholder="This is the criptocoin for 2024">
            <label for="content">Content</label>
            <textarea name="content" id="content" class="content" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit..."></textarea>
            <input type="submit" name="submit-btn" value="Publish">
        </form>
    </main>
</body>
</html>