<%- include('head.ejs', { cssFile: 'home.css' }) %>
<body>
    <header>
        <a href="/" class="logo-link">
            <img src="/img/techwind.png" class="logo-img" alt="TechWind logo">
        </a>
    </header>
    <main>
        <section class="home">
            <div class="publish-div">
                <h1 class="title">
                    You can also have your space here!
                </h1>
                <button class="publish-btn">
                    Publish Now
                </button>
            </div>
            <img src="/img/girls-with-laptop.png" alt="Girls using a laptop">
        </section>
    </main>
</body>
</html>