<%- include('head.ejs', { cssFile: 'home.css' }) %>
<body>
    <!-- Home -->
    <div class="home-container" id="home">
        <header class="header">
            <a href="/" class="logo-link">
                <img src="/img/techwind.png" class="logo-img" alt="TechWind logo">
            </a>
        </header>
        <main class="home">
            <div class="publish-div">
                <h1 class="title">
                    You can also have your space here!
                </h1>
                <button class="publish-btn">
                    Publish Now
                </button>
            </div>
            <img class="home-img" src="/img/girls-with-laptop.png" alt="Girls using a laptop">
        </main>
    </div>

    <!-- Posts -->
    <section class="post-sect">
        <h2 class="post-sect--h2">Published Posts</h2>
        <% allPosts.forEach(post => { %>
            <div class="post">
                <a href="#" class="post-title"><%= post.title %></a>
                <p class="post-content">
                    <%= post.content %>
                </p>
            </div>
        <% }) %>
    </section>

    <!-- Footer -->
    <footer>
        <a href="#home" class="footer-link">Home ↑</a>
        <h5 class="copyright">Copyright 2025©</h5>
    </footer>
</body>
</html>