@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Handjet:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

h1,
label {
    color: white;
}

body {
    min-height: 100vh;
    background-color: #21E9FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

    /* Header */
header {
    padding-block: 2rem;
}

.logo-link {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

    /* Main */
main {
    max-width: 1050px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
}

.main-div {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.title {
    font-family: "Handjet", serif;
    font-size: clamp(4.5rem, 8vw, 6rem);
    text-transform: capitalize;
    width: 32vw;
    min-width: 20rem;
}

.add-post-img {
    max-width: 15rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-family: 'Gabarito', serif;
    font-size: 2rem;
    font-weight: 500;
}

label::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: .5rem;
}

.post-title {
    width: 22rem;
    height: 2.4rem;
    border: none;
    font-family: 'Inter', serif;
    padding-inline: .5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.content {
    width: 22rem;
    height: 12rem;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    resize: none;
}

*::placeholder {
    color: #C0C0C0;
}

input[type="submit"] {
    cursor: pointer;
    border: none;
    background-color: #00B7CB;
    font-family: "Gabarito", serif;
    font-weight: 600;
    transition: background-color .3s;
    color: white;
    padding: .8rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: background-color .3s;
}

input[type="submit"]:hover {
    background-color: #00A0B5;
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: 2rem;
    }

    main {
        justify-content: center;
        margin-top: 1rem;
        gap: 3rem;
    }
    
    .main-div {
        align-items: center;
        text-align: center;
    }

    .add-post-img {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .title {
        font-size: clamp(3.5rem, 15vw, 4rem);
        min-width: 15rem;
        width: 80%;
    }

    .post-title,
    .content {
        width: 80vw;
    }
}