@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Handjet:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Gabarito", serif;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    background-color: #00B7CB;
    font-family: "Gabarito", serif;
    font-weight: 600;
    transition: background-color .3s;
}

button:hover {
    background-color: #00A0B5;
}

 /* Home */
.home-container {
    display: grid;
    grid-template-rows: max-content 1fr;
    min-height: 100vh;
    background: linear-gradient(to right,#21E9FF, #CCFAFF);
}

.header {
    padding-block: 2rem;
}

.logo-link {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.publish-div {
    margin-left: 4rem;
    margin-bottom: 5rem;
}

.title {
    font-family: "Handjet", serif;
    font-size: clamp(4rem, 6vw, 6rem);
    text-transform: uppercase;
    width: 30%;
    min-width: 20rem;
    margin-bottom: 1rem;
}

.publish-btn {
    padding: .8rem 1.8rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.home-img {
    position: absolute;
    width: min(40rem, 60%);
    min-width: 24rem;
    bottom: 0;
    right: 0;
}

    /* Posts */
.post-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-block: 4rem;
}

.post-sect--h2 {
    color: #00B7CB;
    font-size: 2rem;
    font-family: "Handjet", serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.post {
    width: 70%;
    min-height: 15rem;
    max-height: 30rem;
    background-color: #00B7CB;
    border-radius: 1.8rem;
    padding: 1rem 2rem 2rem 2rem;
}

.post-title {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    display: block;
    margin-bottom: 1rem;
}

.post-content {
    font-family: "Inter", serif;
    font-size: 1rem;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 19;
    overflow: hidden;
}

    /* Footer */
footer {
    height: 6rem;
    background-color: #00B7CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-link {
    font-size: 1.5rem;
}

.copyright {
    font-family: "Inter", serif;
}